<nav class="navigation">

  <div class="navigation__actions">
    <div class="left">Logo</div>
    <div class="right">
      <div class="navigation__mobile">
        <button class="hamburger hamburger--spin" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </div>

  <ul class="navigation__menu" data-navigation aria-hidden="false" role="menu">

    {{#foreach navigation}}
      <li class="navigation__entry" role="menuitem">
        <a class="navigation__link {{#if current}} navigation__link--active{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
      </li>
    {{/foreach}}

  </ul>

</nav>
