<nav class="navigation">

  <div class="navigation__actions">
    <div class="left">
      <div class="navigation__logo"><img src="{{asset 'dist/images/logo.svg'}}"></div>
      <div class="navigation__title">{{@site.title}}</div>
    </div>
    <div class="right">
      <div class="navigation__mobile">
        <button class="hamburger hamburger--elastic" type="button" aria-expanded="false">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </div>

  <ul class="navigation__menu" data-navigation aria-hidden="true" role="menu">

    {{#foreach navigation}}
      <li class="navigation__entry" role="menuitem">
        <a class="navigation__link {{#if current}} navigation__link--active{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
      </li>
    {{/foreach}}

  </ul>

</nav>
