<section class="sidebar-search">
  <h3>Search</h3>
  <form class="form">
    <div class="form__elements">
      <input type="text" id="search-field" class="form__element" />
      <button type="submit" class="form__button">Search</button>
    </div>
    <div id="results" class="sidebar-search__results"></div>
  </form>
</section>