{{!< default}}

<div class="lane">
  <div class="split-uneven">
    <div class="panel">
      {{#post}}
      <h1>CODE: {{title}}</h1>
      {{content}}
      {{/post}}
    </div>
    <div class="panel">
      sidebar
    </div>
  </div>
</div>
