{{!< default}}

<div class="lane">
  <div class="split-uneven">
    <div class="panel">
      {{#post}}
      <h1>WRITING: {{title}}</h1>
      {{content}}
      {{/post}}
    </div>
    <div class="sidebar">
      <div class="panel">
        {{>sidebar-search}}
      </div>
      <div class="grid">
        {{#get "posts" filter="tag:write" limit="9" include="tags,authors" as |post|}}
        {{#post}}
        {{> card-code}}
        {{/post}}
        {{/get}}
      </div>
    </div>
  </div>
</div>
