// ############################################################################
// Footer
// ############################################################################

.footer {
  color: $color-body;
  border-top: 1px solid $color-black;

  @include small {
    margin: 75px auto 0;
  }

  a {
    color: $color-active;
    border-bottom: 1px dashed $color-body;
    transition: $animation-speed-slow;

    &:hover,
    &:focus {
      color: $color-brand;
    }
  }

  p {
    text-align: center;
    font-size: 0.75rem;
    margin: 4px;
  }

  &__logo {
    display: block;
    margin: 1rem auto;
    width: 32px;
  }
}
