// ############################################################################
// Grid
// ############################################################################

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @include medium {
    grid-template-columns: 1fr 1fr;
  }

  &--big {
    grid-template-columns: 1fr 1fr;

    @include small {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include medium {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .sidebar & {
    margin: 0 0.5rem;
  }
}
