// *****************************************************************************
// * Navigation
// * Primary / Mobile navigation
// *****************************************************************************

.navigation {
  display: block;
  width: 100%;
  position: fixed;
  max-width: 1400px;
  top: 0;
  color: $color-navigation-fg;
  align-items: center;
  font-family: $base-font-heading;
  z-index: 2;

  &__title {
    font-size: 1rem;
    text-transform: uppercase;
    color: $color-body;
    transition: $animation-speed-slow;

    a {
      color: $color-body;
      transition: $animation-speed-slow;
      letter-spacing: 4px;
    }
  }

  &__logo {
    margin-right: 1rem;
    backdrop-filter: blur(2px);
    transition: $animation-speed-slow;

    img {
      width: 32px;
    }
  }

  &__actions {
    display: flex;
    padding-left: 1rem;
    backdrop-filter: blur(4px);
    background-color: rgba($color-navigation-bg, 0.2);
    border-bottom: 1px solid $color-black;
  }

  &__menu {
    display: none;

    .is-active & {
      display: block;
      padding: 1rem 1rem 0 1rem;
      min-width: 200px;
      border: 1px solid $color-body;
      text-align: left;
      z-index: 2;
      font-size: 18px;
      backdrop-filter: blur(4px);

      @include breakpoint(400px) {
        position: absolute;
        width: 200px;
        right: 1rem;
        margin-top: 2px;
      }
    }

  }

  &__link {
    display: block;
    color: $color-body;
    padding-bottom: 1rem;

    &:hover,
    &:focus {
      color: $color-body;
    }
  }

  .left {
    display: flex;
    align-items: center;
    width: 100%;

    &:hover {

      .navigation__logo {
        transform: scale(1.1);
      }

      .navigation__title {
        transform: scale(1.05);

        a {
          color: $color-brand;
          //letter-spacing: 5px;
        }
      }
    }
  }

  .right {
    display: flex;
  }
}

.hamburger {
  outline: none;

  &:focus {
    outline: 1px solid $color-body;
  }
}