// Base colors
$color-white: #ffffff;
$color-black: #000000;
$color-brand: #9A0013;
$color-blue: #8fa3cc;
$color-green: #5c8a8a;

$color-dark: #191e26;
$color-light: #abb2bc;

$color-navigation-fg: $color-white;
$color-navigation-bg: $color-dark;

$color-lane-fg: $color-white;
$color-lane-bg: lighten($color-dark, 10%);

$color-body: $color-light;
$color-body-bg: $color-dark;
$color-active: $color-light;

$color-code-bg: lighten($color-dark, 2%);
$color-write-bg: lighten($color-dark, 5%);

$color-headings: $color-body;
$color-headings-code: $color-blue;
$color-headings-write: $color-green;
$color-field-border: $color-light;
$color-field-placeholder: $color-light;
$color-faint: rgba($color-light, 0.5);

$color-body-alternate: #494f62;

$color-button-primary: #e01053;
$color-button-primary-hover: #fd3b7a;
$color-button-primary-active: #ae0c40;
$color-button-primary-disabled: #f7c1d2;

$color-button-secondary: #e0b77d;
$color-button-secondary-hover: #ecc99e;
$color-button-secondary-active: #b38956;
$color-button-secondary-disabled: #f8ebd9;

$color-button-tertiary: #194288;
$color-button-tertiary-hover: #194288;
$color-button-tertiary-active: #194288;
$color-button-tertiary-disabled :#194288;
