// ############################################################################
// Layout
// ############################################################################

body {
  background-color: $color-body-bg;
  width: 100vw;
  overflow-x: hidden;
  font-size: $body-font-size;
}

.sb {
  display: block;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 5rem;
  background-color: $color-dark;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  overflow-y: hidden;
}

.lane {
  margin-bottom: 3rem;
}

.split {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-top: 3rem;

  @include small {
    grid-template-columns: 1fr 1fr;
  }
}

.split-uneven {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-top: 3rem;

  @include small {
    grid-template-columns: 2fr 1fr;
  }
}

.content {
  max-width: 650px;
}

.panel {
  padding: 1rem;

  &__more {
    margin: 1rem 0;
  }

  &--masthead {

  }
}

.code {
  background-color: $color-code-bg;
  font-family: "Courier New" !important;
  transition: 1s;
  opacity: 1;
}

.write {
  background-color: $color-write-bg;
  transition: 1s;
  opacity: 1;
}

.reveal {
  padding-top: 2rem;
  opacity: 0.5;

  &--delay-1 {
    transition-delay: 0;
  }

  &--delay-2 {
    transition-delay: 250ms;
  }

  &--delay-3 {
    transition-delay: 500ms;
  }

  &--delay-4 {
    transition-delay: 700ms;
  }
}